.key-features {
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 1000px) {
   
}

.key-features .single-key {
    background-color: #FFF;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    max-height: 500px;
    /* Set a maximum height for the card */
    overflow: none; /* Show scrollbar when content exceeds the maximum height */
    position: relative; /* Make position relative for absolute positioning */
}

.key-features .single-key img.service-img {
    width: 250px; /* Set fixed width */
    height: 270px; /* Set fixed height */
    object-fit: cover; /* Maintain aspect ratio */
}


.key-features .single-key h5 {
    margin-top: 20px;
}

.key-features .single-key p {
    font-family: "mouse-300", Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    /* text-overflow: hidden; */
    
}

